* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Side Navbar starts */
.nav-wrapper {
  width: auto;
  height: 100vh;
  position: fixed;
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-image {
  float: left;
  background-color: purple;
  height: 20%;
  width: auto;
  align-items: center;
}

.nav-image img {
  width: auto;
  height: 100%;
}

/* Nav links */
.nav-links {
  position: absolute;
  top: 35%;
  width: 100%;
  display: block;
  
  /* border: 2px solid blue; */
}

.nav-links a {
  text-align: center;
  text-decoration: none;
  display: block;
  color: White;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid green;
}

.border-link-1 {
  border-top: 2px solid green;
}

.nav-links a:hover {
  color: black;
  background-color: greenyellow;
}

/* Social Media Links */
.social-media {
  position: absolute;
  bottom: 17px;
  align-items: center;
}
.social-media a {
  padding: 0 7px 0 0;
}
