* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Side Navbar starts */
.nav-wrapper {
  width: auto;
  height: 100%;
  position: absolute;
  background-color: red;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-image {
  float: left;
  background-color: purple;
  height: 150px;
}

.nav-image img {
  width: 130px;
  height: 100px;
}

/* Nav links */
.nav-links {
  
  width: 100%;
  display: block;
  text-align: center;
  
  /* border: 2px solid blue; */
}

.nav-links a {
  align-items: center;
  text-decoration: none;
  display: block;
  color: White;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid green;
}

.border-link-1 {
  border-top: 2px solid green;
}

.nav-links a:hover {
  color: black;
  background-color: greenyellow;
}

/* Social Media Links */
.social-media {
  position: absolute;
  bottom: 10px;
}
.social-media a {
  padding: 0 5px 0 5px;
}
